a {
	color: white;
}

a:hover {
	color: black;
}

body, html, .container {
	height: 100%;
	width: 100%;
	margin: 0;
}

body, p {
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

h1 {
	font-size: 96px;
	color: gray;
	margin-top: 0;
	padding-top: 20px;
	margin-bottom: 0;
}

h2 {
	font-size: 36px;
	margin-top: 20px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 20px;
	color: black;
	max-width: 35%;
}

.container {
	background-image: url("https://carpi111.github.io/Assets/space-bg.jpg");
	background-position: center;
	background-size: cover;
}

#about-me {
	color: white;
	max-width: 50%;
}

#bib {
	border: 2px solid white;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
}
